<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://arthouseapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>arthouseapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ArtHouseApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$ArtHouseApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="KhareedoEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=arthousedbserver.database.windows.net;Initial Catalog=ArtHouse_db;Persist Security Info=True;User ID=bilal;Password=khan1234!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Khareedo.Models.KhareedoEntities, Khareedo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="KhareedoEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.KhareedoDataModel.csdl|res://*/Models.KhareedoDataModel.ssdl|res://*/Models.KhareedoDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=arthousedbserver.database.windows.net;Initial Catalog=ArtHouse_db;Persist Security Info=True;User ID=bilal;Password=khan1234!"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>